#main
{
    height: 100%;
    width: 100%;
}
#img-div{
    height: 100%;
    max-width: 100%;
    
}
#image{
    display: block;
    height: auto;
    max-width: 100%;
    align-self: center;
    justify-self: center;
}
